<div class="container container-fluid">
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">{{currentBlog.Name}}</h1>
        <p>{{currentBlog.Author}}</p>
        <hr>
        <p>{{currentBlog.Description}}</p>
        <div class="row">
          <div class="col">
            <a class="btn btn-outline-primary" href="#">Edit</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-danger" href="">Delete</a>
          </div>
          <div class="col">
            <a class="btn btn-outline-primary" [routerLink]="[ '/home' ]">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>